<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru_Banking">
  <test thread-count="5" name="Test">
  
  <groups>
  
  <run>
  <include name ="functionaltest"/>
  <include name="smoketest"/>
 
  </run>
  
  </groups>
  
   <classes>
      <class name="Guru99.Guru99.Guru"/>
      <class name="Guru99.Guru99.PDF_orders"/>
      <class name="Guru99.Guru99.Cart"/>
      <class name="Guru99.Guru99.Account_Creation"/>
      <class name="Guru99.Guru99.Product_order"/>
      <class name="Guru99.Guru99.Reorder"/>
      <class name="Guru99.Guru99.Product_Listing"/>
      <class name="Guru99.Guru99.HandlingPop"/>
    </classes>
    
  
   
    
    
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
